body{
	background-image: url("imagens/aqua.png");
	background-repeat: no-repeat;
	background-position: center;
    background-size: 2000px 250px;
    background-color: lightPink;

}

p.round3 {
	border: 5px solid red;
	border-radius: 25px;
  }
  
 a{
	background-color: palevioletred; /* Green */
	border: none;
	color: white;
	padding: 15px 34px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 10px;
	
  }